In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/AreasVerdes/warehouse'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [3]:
# cria a tabela gold para o passeio
spark.sql(
    """
    DROP TABLE IF EXISTS AreasVerdes.numero_plantas
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE AreasVerdes.numero_plantas (
      Borough STRING,
      Plants STRING,
      number_plants INT
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/AreasVerdes/gold/infquintais/numero_plantas'
    """
)

DataFrame[]

In [4]:
# cria a tabela gold para a saude
spark.sql(
    """
    DROP TABLE IF EXISTS AreasVerdes.numero_compostagem
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE AreasVerdes.numero_compostagem (
      Borough STRING,
      Composting STRING,
      number_compost INT
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/AreasVerdes/gold/infquintais/numero_compostagem'
    """
)

DataFrame[]

In [5]:
# cria a tabela gold para a saude
spark.sql(
    """
    DROP TABLE IF EXISTS AreasVerdes.area_sidewalk
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE AreasVerdes.area_sidewalk (
      Borough STRING,
      area_sidewalk FLOAT
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/AreasVerdes/gold/infquintais/area_sidewalk'
    """
)

DataFrame[]

In [6]:
# cria a tabela gold para a saude
spark.sql(
    """
    DROP TABLE IF EXISTS AreasVerdes.avg_capacity_capturesystem
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE AreasVerdes.avg_capacity_capturesystem (
      Borough STRING,
      avg_capacity_capturesystem FLOAT
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/AreasVerdes/gold/infquintais/avg_capacity_capturesystem'
    """
)

DataFrame[]

In [5]:
spark.sql(
    """
    SELECT *
    FROM AreasVerdes.numero_fontesagua
    """
).show()

+-------+---------------------+
|Borough|number_onsiteservices|
+-------+---------------------+
+-------+---------------------+