In [1]:
pip install delta-spark

Collecting delta-spark
  Downloading delta_spark-2.2.0-py3-none-any.whl (20 kB)
Requirement already satisfied: pyspark<3.4.0,>=3.3.0 in /usr/local/spark-3.3.0-bin-hadoop3/python (from delta-spark) (3.3.0)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from delta-spark) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata>=1.0.0->delta-spark) (3.9.0)
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 4.9 MB/s eta 0:00:00a 0:00:01
Installing collected packages: py4j, delta-spark
Successfully installed delta-spark-2.2.0 py4j-0.10.9.5
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/AreasVerdes/warehouse'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [2]:
spark.sql(
    """
    SHOW DATABASES
    """
).show()

+-----------------+
|        namespace|
+-----------------+
|      areasverdes|
|          default|
|             demo|
|  gold_sales_demo|
|silver_sales_demo|
+-----------------+

In [6]:
spark.sql(
    """
    DROP DATABASE IF EXISTS AreasVerdes CASCADE
    """
)

DataFrame[]

In [7]:
# you can choose any location in HDFS, just be organized 
# Your data lake will grow with time and will become a swamp
spark.sql(
    """
    CREATE DATABASE AreasVerdes LOCATION 'hdfs://hdfs-nn:9000/AreasVerdes/warehouse/AreasVerdes.db/'
    """
)

DataFrame[]

In [8]:
spark.sql(
    """
    SHOW DATABASES
    """
).show()

+-----------------+
|        namespace|
+-----------------+
|      areasverdes|
|          default|
|             demo|
|  gold_sales_demo|
|silver_sales_demo|
+-----------------+

In [9]:
spark.sql(
    """
    SHOW TABLES FROM AreasVerdes
    """
).show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

In [10]:
spark.sql(
    """
    DROP TABLE IF EXISTS AreasVerdes.InfQuintais_Table
    """
)

DataFrame[]

In [11]:

spark.sql(
    """
    CREATE EXTERNAL TABLE AreasVerdes.InfQuintais_Table (
    ParksID STRING,
    Borough STRING,
    InspectionID INTEGER,
    TotalFenceLength FLOAT,
    TotalSidewalkArea FLOAT,
    TotalSidewalkLength FLOAT,
    OnSiteService BOOLEAN,
    HydrantW_in5m BOOLEAN,
    HydrantOnGardenSide BOOLEAN,
    RainHarvesting BOOLEAN,
    RainLitres DOUBLE,
    SolarPanels BOOLEAN,
    Composting STRING,
    Plants STRING,
    OpenLawnOrCommunalArea BOOLEAN,
    PavedArea BOOLEAN,
    TreesInGarden BOOLEAN,
    FruitTrees BOOLEAN,
    StreetTrees BOOLEAN,
    EmptyTreePits BOOLEAN,
    Murals BOOLEAN,
    BlankShed BOOLEAN,
    ParksSign BOOLEAN,
    Chickens BOOLEAN,
    Pond BOOLEAN,
    Turtles BOOLEAN,
    Aquaponics BOOLEAN,
    FarmersMarket BOOLEAN,
    CSApickup BOOLEAN,
    Greenhouse BOOLEAN,
    StructureForSeasonExtension BOOLEAN
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/AreasVerdes/silver/InfQuintais'
    """
)

DataFrame[]

In [12]:
spark.sql(
    """
    SHOW TABLES FROM AreasVerdes
    """
).show()

+-----------+-----------------+-----------+
|  namespace|        tableName|isTemporary|
+-----------+-----------------+-----------+
|areasverdes|infquintais_table|      false|
+-----------+-----------------+-----------+

In [13]:
# Let's look into HDFS

In [14]:
spark.sql(
    """
    SELECT *
    FROM areasverdes.infquintais_table
    """
).show()

+-----------+---------+------------+----------------+-----------------+-------------------+-------------+-------------+-------------------+--------------+------------------+-----------+--------------------+-------+----------------------+---------+-------------+----------+-----------+-------------+------+---------+---------+--------+-----+-------+----------+-------------+---------+----------+---------------------------+
|    ParksID|  Borough|InspectionID|TotalFenceLength|TotalSidewalkArea|TotalSidewalkLength|OnSiteService|HydrantW_in5m|HydrantOnGardenSide|RainHarvesting|        RainLitres|SolarPanels|          Composting| Plants|OpenLawnOrCommunalArea|PavedArea|TreesInGarden|FruitTrees|StreetTrees|EmptyTreePits|Murals|BlankShed|ParksSign|Chickens| Pond|Turtles|Aquaponics|FarmersMarket|CSApickup|Greenhouse|StructureForSeasonExtension|
+-----------+---------+------------+----------------+-----------------+-------------------+-------------+-------------+-------------------+--------------+------------------+-----------+--------------------+-------+----------------------+---------+-------------+----------+-----------+-------------+------+---------+---------+--------+-----+-------+----------+-------------+---------+----------+---------------------------+
| B544-GT001| Brooklyn|           1|          213.25|            276.0|               23.0|        false|        false|               true|          true|            1892.5|      false|                Bins|   Both|                  true|     true|         true|     false|      false|        false| false|     true|    false|    true|false|  false|     false|        false|    false|      true|                      false|
| M397-GT001|Manhattan|           3|             0.0|            300.0|               25.0|        false|         true|              false|          true|             757.0|      false|No Composting System|NonFood|                 false|    false|         true|     false|      false|        false| false|    false|     true|   false|false|  false|     false|        false|    false|     false|                      false|
| M331-GT002|Manhattan|           5|            15.5|            160.0|               10.0|        false|        false|              false|          true|227.10000000000002|      false|No Composting System|NonFood|                  true|    false|         true|     false|      false|         true| false|    false|     true|   false|false|  false|     false|        false|    false|     false|                      false|
|M297A-GT001|Manhattan|           8|           204.0|            910.0|               70.0|        false|        false|               true|         false|               0.0|      false|             Barrels|   Both|                  true|    false|         true|      true|       true|        false| false|    false|     true|   false|false|  false|     false|        false|    false|     false|                      false|
| X277-GT001|    Bronx|           9|           265.0|           3750.0|              150.0|        false|        false|               true|         false|               0.0|      false|             Barrels|   Both|                  true|    false|         true|      true|       true|         true|  true|     true|     true|   false|false|  false|     false|        false|    false|      true|                      false|
| B535-GT001| Brooklyn|          15|           180.0|           1700.0|              200.0|        false|         true|               true|          true|            1135.5|       true|                Bins|   Both|                  true|    false|         true|      true|       true|        false| false|     true|     true|   false|false|  false|     false|        false|    false|     false|                      false|
| B575-GT001| Brooklyn|          16|           251.0|            742.5|               49.5|        false|        false|              false|          true|            4542.0|       true|                Both|   Both|                  true|     true|         true|      true|       true|         true| false|     true|     true|   false|false|  false|     false|         true|     true|     false|                      false|
| B553-GT001| Brooklyn|          20|             0.0|            364.0|               26.0|        false|        false|              false|          true|            3785.0|       true|                Bins|   Both|                  true|    false|        false|     false|       true|        false| false|    false|     true|   false|false|  false|     false|        false|    false|     false|                      false|
| M313-GT001|Manhattan|          22|             0.0|            608.0|               76.0|        false|         true|              false|         false|               0.0|       true|                Bins|NonFood|                 false|     true|         true|      true|       true|        false| false|    false|     true|   false| true|   true|     false|        false|    false|     false|                      false|
| M293-GT001|Manhattan|          23|             0.0|           3240.0|              270.0|         true|         true|               true|          true|            1892.5|      false|                Bins|   Both|                 false|    false|         true|      true|      false|        false|  true|    false|     true|   false| true|   true|     false|        false|    false|     false|                      false|
| B438-GT001| Brooklyn|          24|           125.0|           2280.0|              152.0|        false|         true|               true|         false|               0.0|      false|No Composting System|   Both|                  true|    false|        false|      true|       true|        false| false|    false|    false|   false|false|  false|     false|        false|    false|     false|                      false|
| Q495-GT001|   Queens|          26|           250.0|            300.0|               25.0|        false|         true|               true|         false|               0.0|      false|No Composting System|   Both|                 false|     true|         true|     false|       true|        false| false|     true|     true|   false|false|  false|     false|        false|    false|     false|                      false|
| M312-GT001|Manhattan|          27|             0.0|           4032.0|              336.0|         true|         true|               true|         false|               0.0|      false|                Bins|   Both|                 false|    false|         true|      true|       true|        false| false|    false|     true|   false| true|   true|     false|        false|    false|     false|                      false|
| B507-GT001| Brooklyn|          28|           247.5|            409.5|               63.0|        false|         true|               true|         false|               0.0|      false|                Bins|   Both|                  true|    false|         true|      true|      false|        false|  true|     true|     true|   false|false|  false|     false|        false|    false|     false|                      false|
| B533-GT001| Brooklyn|          31|             0.0|           2474.5|              202.0|        false|         true|               true|          true|           8137.75|      false|                Bins|   Both|                  true|    false|         true|      true|       true|        false| false|    false|     true|   false|false|  false|     false|        false|    false|     false|                      false|
| B439-GT001| Brooklyn|          34|          175.75|          1745.75|              125.0|        false|        false|              false|          true|454.20000000000005|      false|             Barrels|   Both|                  true|     true|         true|      true|      false|         true| false|    false|     true|   false|false|  false|     false|        false|    false|     false|                      false|
| B409-GT001| Brooklyn|          36|             0.0|           2460.0|              164.0|        false|        false|               true|          true|           13247.5|      false|                Bins|   Both|                  true|    false|         true|      true|       true|        false| false|    false|     true|   false|false|  false|     false|        false|    false|     false|                      false|
| B440-GT001| Brooklyn|          37|           197.5|           9751.5|              449.0|        false|         true|               true|         false|               0.0|      false|No Composting System|   Both|                  true|    false|         true|      true|      false|        false| false|    false|     true|   false|false|  false|     false|        false|    false|     false|                      false|
| B441-GT001| Brooklyn|          38|          146.25|           369.75|              21.75|        false|        false|              false|          true| 681.3000000000001|      false|No Composting System|   Both|                 false|    false|        false|     false|      false|        false| false|     true|     true|   false|false|  false|     false|        false|    false|     false|                      false|
| B442-GT001| Brooklyn|          41|           256.0|            640.0|              128.0|        false|        false|               true|          true|454.20000000000005|      false|                Both|   Both|                  true|    false|         true|      true|      false|        false| false|    false|     true|   false|false|  false|     false|        false|    false|     false|                      false|
+-----------+---------+------------+----------------+-----------------+-------------------+-------------+-------------+-------------------+--------------+------------------+-----------+--------------------+-------+----------------------+---------+-------------+----------+-----------+-------------+------+---------+---------+--------+-----+-------+----------+-------------+---------+----------+---------------------------+
only showing top 20 rows

In [16]:
spark.sql(
    """
    DESCRIBE FORMATTED areasverdes.infquintais_table
    """
).toPandas()

,col_name,data_type,comment
0,ParksID,string,
1,Borough,string,
2,InspectionID,int,
3,TotalFenceLength,float,
4,TotalSidewalkArea,float,
5,TotalSidewalkLength,float,
6,OnSiteService,boolean,
7,HydrantW_in5m,boolean,
8,HydrantOnGardenSide,boolean,
9,RainHarvesting,boolean,
10,RainLitres,double,
11,SolarPanels,boolean,
12,Composting,string,
13,Plants,string,
14,OpenLawnOrCommunalArea,boolean,
15,PavedArea,boolean,
16,TreesInGarden,boolean,
17,FruitTrees,boolean,
18,StreetTrees,boolean,
19,EmptyTreePits,boolean,
20,Murals,boolean,
21,BlankShed,boolean,
22,ParksSign,boolean,
23,Chickens,boolean,
24,Pond,boolean,
25,Turtles,boolean,
26,Aquaponics,boolean,
27,FarmersMarket,boolean,
28,CSApickup,boolean,
29,Greenhouse,boolean,
30,StructureForSeasonExtension,boolean,
31,,,
32,# Partitioning,,
33,Not partitioned,,
34,,,
35,# Detailed Table Information,,
36,Name,areasverdes.infquintais_table,
37,Location,hdfs://hdfs-nn:9000/AreasVerdes/silver/InfQuin...,
38,Provider,delta,
39,Owner,jovyan,
40,External,true,
41,Table Properties,"[delta.minReaderVersion=1,delta.minWriterVersi...",

In [17]:
spark.stop()